.footer {

    margin: 0;
    padding: 30px;
    background-color: transparent;
    color: #ffffff;
    position: relative;
    left: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text, .footer-contact, .footer-icons {
    margin: 10px 0;
    font-size: 12px;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}