.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.clear-filters-button {
    font-size: 0.7em;
    padding: 3px 6px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    color: #ffffff;
    width: 100px; /* Set a fixed width */
    text-align: center; /* Center the text */
    margin-left: 10px;
}