/* src/Pages/Forms/Forum/ForumDetails.css */

.forum-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 700px; /* Adjust the width as needed */
    max-width: 700px; /* Set the maximum width */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .forum-details {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .forum-details {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.forum-details:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forum-details h4 {
    margin: 0 0 8px;
    font-size: 1.5em;
    color: #333;
}

.forum-details p {
    margin: 8px 0;
    color: #666;
    word-wrap: break-word; /* Ensure long words break and wrap within the card */
    overflow-wrap: break-word; /* Ensure long words break and wrap within the card */
}

.forum-details strong {
    color: #333;
}

.like-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #007bff;
    transition: color 0.3s ease;
}

.like-button:hover {
    color: #0056b3;
}

.like-button:focus {
    outline: none;
}

.comments-section {
    margin-top: 16px;
    width: 90%; /* Make the comments section less wide */
    margin-left: auto;
    margin-right: auto;
}

.show-comments-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.show-comments-button:hover {
    color: #0056b3;
}

.show-comments-button:focus {
    outline: none;
}

.comment {
    border-top: 1px solid #ddd;
    padding-top: 8px;
    margin-top: 8px;
    color: #fff; /* Change text color to white */
}

.comment strong {
    color: #fff; /* Change username color to white */
}