/* src/Pages/Forms/Forum/ForumCard.css */
* {
    font-family: 'Geist', sans-serif;
}
.forum-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    width: 600px; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .forum-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .forum-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.forum-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forum-card h3 {
    margin: 0 0 8px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.forum-card p {
    margin: 8px 0;
    color: #000000;
}

.forum-card strong {
    color: #333;
}

.like-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 50px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #007bff;
    transition: color 0.3s ease;
}

.like-button:hover {
    color: #0056b3;
}

.like-button:focus {
    outline: none;
}

.like-content {
    display: flex;
    align-items: center;
}

.like-count {
    color: black;
    margin-left: 10px; /* Remove the left margin */
    font-size: 0.7em;
}

.info-text {
    font-size: 0.7em; /* Adjust the font size as needed */
}