.sell-card .description {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.sell-card {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sell-card:hover {

    transform: scale(1.01); /* Increase size on hover */
}

