.gear-card {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.gear-card:hover {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transform: scale(1.01); /* Increase size on hover */
}