.guitar-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black; /* Set text color to black */
    margin: 20px; /* Add this line to create 20px space between cards */
}

.guitar-card p {
    margin: 5px 0;
}

.guitar-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px
}

.toggle-images-button {
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: #bccac9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-images-button:hover {
    background-color: #4cacaf;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #000000;
    cursor: pointer;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}