.gear-carddetails{
    border: none; /* Remove the existing border */
    box-shadow: 0 0 0 1px #3a3a3a, 0 4px 8px rgba(0, 0, 0, 0.1); /* Combine both box-shadow properties */
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    background-color: #000000;
    color: #ffffff;
    margin: 20px auto; /* Center the card horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content inside the card */
    margin-top: 50px; /* Add space above the card */
    position: relative; /* Add relative positioning */
}

@media (max-width: 600px) {
    .gear-carddetails {
        width: 320px; /* Adjust width for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

/* Is CSS for all delete comments button: Forum details, RehearsalroomDetails etc. */
.deleteCommentButton{
    background-color: red;
    width: 10em;
    font-size: 0.7em;
}

