/* CSS For All Creating Gear/RehearsalRoom Pages */
.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview-container {
    position: relative;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.success-message {
    color: green;
    font-weight: bold;
}

.image-preview-container label {
    color: black;
}

.image-preview-container p {
    color: #6dd94f; /* Ensure the "Hovedbillede" text is black */
}

.sellHeadline{
    margin-top: 50px;
}