/* ForgotPassword.css */

.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.forgot-password-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.forgot-password-message {
    text-align: center;
    color: green;
}

.forgot-password-form-group {
    margin-bottom: 15px;
}

.forgot-password-label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.forgot-password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #712cf9;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-button:hover {
    background-color: #0056b3;
}
