/* Login.css */
.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.login-h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.login-form-group {
    margin-bottom: 15px;
    max-width: 500px;
    background-color: transparent;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #712cf9;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}

.signup-link:hover {
    text-decoration: underline;
}

.forgot-password-text{
    text-align: center;
    margin-top: 20px;
}

.forgot-password-link{
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent; /* Change the background color to transparent */
}