/* src/Pages/LoginSignup/Signup.css */

.signup-body2 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
    border: none; /* Ensure no border is applied */
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-button {
    padding: 12px;
    background-color: #712cf9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #0056b3;
}

.signup-success-message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.signup-error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.auth-error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}